/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2011, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

/* Facebook */

.clear_float{
	clear:both;
}

.fb_iframe_widget > span > iframe {
	display: block;
	z-index: 5;
}

div #social_facebook_Like_ProductOnlyDisplay {
	padding-top: 7px;
}

div #social_facebook_Like_HomeSidebarDisplay {
    position: absolute;
}

div #social_facebook_Activity_HomeSidebarDisplay {
    position: relative;
    padding: 0 10px;
}

#social_facebook_Activity_HomeSidebarDisplay iframe {
	display : inline;
	background : #FFFFFF;
}

#social_facebook_Like_HomeSidebarDisplay span.fb_edge_comment_widget {
    top: 25px !important;
    left: -20px !important;
}

#social_facebook_Like_HomeSidebarDisplay span.fb_edge_comment_widget iframe {
    width: 550px !important;
    display: block:
}

.ie_socialFacebookdijitButtonNodeAdjustment {
	padding-bottom: 2px;
	height: 25px;
}
.ie8_socialFacebookdijitButtonNodeAdjustment {
	padding-bottom: 3px;
	height: 25px;
}

div .headerMenu_DropDown_Facebook {
	vertical-align: bottom;
	text-decoration:none;
	display:inline-block;
	color: white;
	text-align: right;
}

#menu_DropDown_Facebook {
	padding-bottom: 0px;
}

.socialDropDownArrow {
	margin-left: 4px;
}
.socialFacebookProfilePix {
	height: 14px;
	vertical-align: middle;
}
.socialFacebookProfileName {
	color: white;
	font-size: 12px;	
}

.socialFacebookProfileName:hover{
	text-decoration: underline;
}

span#header_menu_facebook_loaded .dijitDropDownButtonHoverFocused,
span#header_menu_facebook_loaded .dijitDropDownButtonOpenedFocused {
	border:none;
}

a#headerFBlogout.h_tnav_but {
	text-decoration: none;
	height: 10px;
	display: inline;
	font-size: 12px;
}

a#headerFBlogout.h_tnav_but:hover {
	text-decoration: underline;
}

.facebook_zindex {
	z-index: 999 !important;
}

/* menu popup item - disconnect from Facebook*/
div#WC_CachedHeaderDisplayFacebook_div{ 
	border: solid 1px #b7bebe;
	background-color: #FFFFFF;
}
#WC_CachedHeaderDisplayFacebook_div_2{ 
	background-color: #FFFFFF;
}
/* hide, not needed in Social Commerce menu drop down */
#WC_CachedHeaderDisplayFacebook_div img.dijitMenuExpand{ 
	display: none;
}
#WC_CachedHeaderDisplayFacebook_div td.dijitMenuArrowCell{
	display: none;
}

#quickLinksBar #SocialIntegrationArea {
	padding: 0;
}
#quickLinksBar #headerFBlogin,
#quickLinksBar #header_menu_facebook_loaded {
	display: block;
	margin: -10px 0;
	padding: 10px 15px;
}

#quickLinksMenu #SocialIntegrationArea {
	padding: 0;
}
#quickLinksMenu #headerFBlogin,
#quickLinksMenu #header_menu_facebook_loaded {
	display: block;
	margin: 0 -8px;
	padding: 8px;
}

#headerFBlogin > img {
	vertical-align: middle;
}



/*** Locale-specific overrides ***/

html[lang='he'] .socialDropDownArrow, html[lang='ar'] .socialDropDownArrow {
	margin-right: 4px;
	margin-left: 0;
}
html[lang='he'] .socialDropDownArrow > img, html[lang='ar'] .socialDropDownArrow > img {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);	
}
html[lang='he'] .socialFacebookProfileName, html[lang='ar'] .socialFacebookProfileName {
	padding-right: 4px;
	padding-left: 0;
}

