.signInForm * {/* font-family: 'Open Sans', sans-serif; *//* font-size: 12px; */text-align: center;outline: none !important;text-shadow: none;}
.signInForm  {outline: none !important;}
input.inputLogin {margin-top: 9px;  width: 190px;  border-radius: 5px;  border: solid 1px #ccc;  text-align: center;  color: #B3B3B3;  line-height: 15px;  padding: 5px 0;  outline: none;}
.inputLogin:focus {background-color: #F5F5F5;   color: black;}

.loginMenuDropdown.active {
    outline: none;
}

.field {
    margin-bottom: 7px !important;
}


.signInForm .footer a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
}

div#_signInDropdown {
    border-top-left-radius: 0;
    border-top: solid 3px #ffa334;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.forgot {
    width: 47%;
    margin-left: 0;
    float: left;
    margin-bottom: 10px;
    /* border-bottom: solid 1px #ccc; */
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.forgot.line {
    border-bottom: solid 1px #ccc;
    margin-top: -8px;
}

.paymentButton {
    width: 84px;   display: block;   background: rgba(202,20,0,1) !important;   float: none;   
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 15px;
    color: white;
    margin-left: auto;   margin-right: auto;   background: -moz-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%)!important;   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(202,20,0,1)), color-stop(100%, rgba(176,15,0,1)))!important;   background: -webkit-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%)!important;   background: -o-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%)!important;   background: -ms-linear-gradient(top, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%)!important;   background: linear-gradient(to bottom, rgba(202,20,0,1) 0%, rgba(176,15,0,1) 100%)!important;   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca1400', endColorstr='#b00f00', GradientType=0 )!important;
}

a.paymentButton.backButton {
    background: #848484 !important;
}

span.registryTitle {
    color: #ca1500;
    font-size: 15px;
    padding-bottom: 15px;
    float: left;
    width: 100%;
}

.loginMenuDropdown .field .link {
    text-decoration: underline;
    margin-bottom: 20px; 
}
.loginMenuDropdown .field .link {color: #666; font-size: 12px; }

.newPassword {
    margin-top: 28px !important;
}

.callUs {
    margin-top: 35px;
}

span.strongBlack {
    font-weight: 700;
    color: black;
}

.footer.noBorder {
    border: 0;
}

div#_signInDropdown {
    border-top: solid 3px #9E9E9E;
}

.loginMenuDropdown .checkbox .checkedCheckBox {
    width: 16px;
    margin-top: -3px;
    margin-right: 3px;
}

.drop_down {
    outline: none;   height: 30px !important;   padding: 1px !important;   margin-bottom: 10px !important;   font-family: Arial, Verdana, Helvetica, sans-serif;   border: 1px solid #BFBFBF !important;   background: #f4f4f4 !important;   margin-right: 5px;
}

.loginHalf {
    width: 93px !important;
}

.halfFirst {
    margin-right: 1px;
}

a.reSend {
    font-size: 11px;
    margin-top: -6px;
    display: block;
}

img {
    border: 0 !important;
    outline: 0;
}

img.facebookImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}