/* Grid system - RWD-A */ 
@media (max-width: 600px) {
	/*TOP DISCLAIMER*/
	.topDisclaimer img{width: 94%;}
	/*TOP BAR*/
	.corporateMenu ul li{padding: 6px;}
	.topBar ul .topbarSpacer {padding: 5px 0px;}
	/*HEADER*/
	.logo img {max-height: 47px;}
	.userMenu{position: absolute; right: 0;}
	.facebookLogin img{max-height: 26px}
	.loginLink {font-size: 12px;float: right;}
	.loginWrap{width:200px;margin: 7px 0px 0px 0px;}
	/*USER MENU*/
	.loginWrap{width: 120px; margin: 7px 16px 0px 0px;}
	/*SHOPPING CART*/
	#widget_minishopcart {margin: 9px 11px -8px 0px;}
	/*MAIN NAV*/
	.mainNav {width: 100%;margin-left: 0;}
	#departmentsButton.basicButton{color: white;font-family: 'Open Sans',sans-serif;border: 0;font-size: 12px;max-width: inherit; margin: 0;width: 100%;}
	.departmentMenu {border: none;border-top: none;}
	#departmentsMenu.active {padding: 0 15px 15px 15px;border: none;border-top: none;box-shadow: 1px 3px 4px #ccc;}
	.categoryList {display: none;border-bottom: 1px solid #A6A6A6;}
	.categoryList > li {padding-left: 16px;}
	/*SEARCH*/
	#searchBar {margin: -35px 0 10px -10px !important;}
	#searchBox{width: 90%;margin-left: 5%;}
	/*PRE FOOTER*/
	.prefooterHeader{margin: 10px 0 -3px 0;}
	.prefooterColumn {text-align: center;border-bottom: solid 1px #C3C3C3; padding: 0 0 8px 0;}
	.ventaTelefonica{font-size: 24; line-height: 18px; letter-spacing: 0;}
	/*MAIN FOOTER*/
	.mainFooter ul {padding: 10px 15px;}
	.mainFooter ul li {float: left; width: 50%;}
	.mainfooterHeader{width: 100% !important;margin-bottom: 3px;}
	.mainFooter ul{border-bottom: solid 1px #777; float: left;}
	.footerWebpay.wpayMobile {max-height: 37px; margin-left:auto;margin-right:auto;}
	.ulWebpay{width:90%;}
	.ulWebpay li{width:100% !important;}
}





/* Grid system - RWD-B */ 
@media (min-width: 601px) and (max-width: 1280px){
	#widget_minishopcart {margin: 16px 10px 16px 10px;}
	/*FOOTER*/
   
}


/*--------------*/
/*RWD EXCEPTIONS*/
/*--------------*/

@media (min-width: 601px) and (max-width: 800px){
	.topDisclaimer img{width: 94%;}
	}

/*LOGO*/

@media (min-width: 601px) and (max-width: 700px){
	.logo img {max-height: 62px;margin-top: 9px;
}
}

@media (min-width: 0px) and (max-width: 330px){
.logo img {max-height: 46px; }
}