/*FORGET PASSWORD*/
div[id^="WC_PasswordResetForm_"].title{display: none;}
div[id^="WC_ActivationResendForm_"].myaccount_header, .registration_header{color: #ca1500}
div#WC_PasswordResetForm_div_7{padding-left:0px !important}

div[id^="WC_Activation"] input.inputLogin{  margin-right: 100%;}

.termsandConditions .header_top{
    margin-bottom: 10px;
}
.hasAlerts.static_page_content > .content_box .header_top:before{content:"";width:16px; height: 16px ;float: left;margin-top: 5px;margin-right: 8px; /* background-image: url(../images/imagesnew/content/alert2x.png); */ background-size: cover }
.info_section .contentButton { background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
border: 0px solid #000000;
 margin-bottom: 24px;  margin-left: auto;  margin-right: auto;  float: none;  display: table !important;  text-align: center;  margin-top: 0;  padding: 5px 10px; color: rgb(52, 52, 52); border: solid 1px #D0D0D0; text-shadow: 0px 1px 0px #FFFFFF;  border-bottom: solid 3px #ccc;}


div[id^="PageHeading_"] {font-size: 13px !important;}

.responsiveSection{width: 47%;float:left;}

/*SITEMAP*/
.static_page_content .info_table_1 {background-color: #FFFFFF; border-color: #F8AD05 #E5E5E5 #E5E5E5; border-style: solid; border-width: 0px 0px 0px; padding-bottom: 9px; padding-left: 10px; padding-right: 10px; }
.info_table_1 .h2 {color: #ca1500 !important; }

/*style content boxes*/
.static_page_content > .content_box{border: none; background: transparent !important;}

.static_page_content > .page_header{font-weight: 400 !important;  margin-bottom: 5px;}

/* DevStart: Strict Hierarchy removed to accomodate a div */
.static_page_content > .content_box  .header_top{font-size: 15px; background-color: rgb(244, 244, 244) !important; font-family: 'Open Sans', sans-serif !important; font-weight: 700 !important; /* margin-bottom: 12px; */ /* padding-bottom:5px; */ text-transform: uppercase; text-align: left; font-size: 16px; color: #ca1500; line-height: 33px; }

@media (max-width: 600px) {
  .responsiveSection{width:100%;}
}

span.bigNumber {
  font-size: 20px;
  color: #ca1500;
  margin-left: 0px;
  /* margin-right: 7px; */
}
.subTitulo{
  font-size: 13px;
  text-transform: uppercase;
  color: rgb(60, 60, 60);
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 28px;
  /* background-image: url(http://www.abcdin.cl/wcsstore/ABCDIN/images/imagesnew/content/plus.png); */
  /* background-position: center right; */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* margin-bottom: 4px; */
}