/*Css para carro de compra*/
.detalle-compra-contenedor img {max-width:100%;}
.detalle-compra-contenedor .text-right{text-align:right;}
.detalle-compra select {margin: 0px auto;display: block;padding: 4px 0px;border-radius: 3px;border-color: #a1a0a0;}
.detalle-compra-contenedor * {box-sizing: border-box;}
.detalle-compra-contenedor h1 {font-size: 16px;margin-bottom: 0px;}
.detalle-compra-contenedor h1 span {font-size: 12px;font-weight: 400;}
.detalle-compra-contenedor .panel {border: 1px solid #ededed;margin: 12px 0px;padding:0px;}
.price-abc {color: #d21b2c;font-weight: bold;font-size: 15px;line-height: 15px;}
.price-abc span {font-size: 12px;}
.border-title {border-top: 3px solid #ededed;padding-bottom: 6px;padding-top: 6px;margin-bottom: 6px;font-size: 12px;}
.panel .border-title {border-bottom: 1px solid #ededed;}
.price-internet{font-weight:bold;padding:0px 0px 10px;}
.detalle-compra {padding: 15px 0px;/* border-top: 1px solid #cccbcb; */}
.cont-precios {padding: 0px;}
.cont-precios .price-abc {font-size: 13px;}
.detalle-compra.prod-conjunto{border-top:3px solid #d5aa26;}
.detalle-compra.prod-gratis{border-top:3px solid #7ab969;}
.detalle-compra.prod-sugerido{border-top:3px solid #ef9d0f;}
.cont-continuar {margin-top: 32px;}
.clear.ge{margin:10px 0px;border-top: 1px solid #ededed;display:inline-block;}
.logo-ge{width: 40px;margin: auto;display: block;}
.prod-identificador{bottom:0px;width:100%;background-image:url('../../images/check-compra.png');background-position:10px center;background-repeat:no-repeat;position: absolute;color: #fff;line-height:12px;left:0px;padding:5px 0px 5px 40px;}
.detalle-compra.prod-conjunto .prod-identificador{background-color:rgba(213, 170, 38, 0.8);}
.detalle-compra.prod-gratis .prod-identificador{background-color:rgba(122, 185, 105, 0.8);}
.detalle-compra.prod-sugerido .prod-identificador{background-color:rgba(239, 157, 15, 0.8);}
.boton-continuar {background: #dd0d0d;padding: 8px !important;color: white;border: 0px !important;border-top: 4px #9b0000 solid !important;text-align: center;border-radius: 2px;}
.boton-seguir-comp {padding: 10px !important;text-align: center;background-color: #d6d6d6;color: gray;}