.navbar-custom { background-color: #cc0000 }
.navbar-custom a { color: white }
.nav>li>a:hover { background-color: transparent; }
.pane-title { font-size: 14px }
label a { color: black; }
#info-desp, #info-traida {display: none;}
#info-pago { opacity: 0.30 }
.seleccionado { background-image: url(../../img/check.png); background-repeat: no-repeat; background-position: 5px; background-color: #cae2f5 !important;}
.panel-default>.panel-heading { padding-left: 25px; }
.boton-pagar-medios { width: 100%; height: 100%;float: left; }
.icon-calendar { float: right !important; background-color: white; margin-right: -25px; margin-top: 0px; height: 26px !important; width: 25px !important; background-image: url(../../img/edit.png); background-size: 100% 100%;
    background-repeat: no-repeat;}
.datepicker { margin-top: 33px;}